.racer_table td {
  background-color: purple;
  height: 30px;
  width: 30px;
  border: 2px solid black;
}

.racer_table td.active {
  background-color: black;
}

#Player2 td.active {
  background-color: orange;
}

#reset {
  margin-top: 15px;

}

#instructions {
  
}

#winner {
  position: absolute; top: 45%; right: 30%;
  font-style: sans-serif;
  font-size: 12em;
  color: red;

}
